<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exs.medivelskinmeasure">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedivelSkinMeasure">
        <activity
            android:name=".UI.MyPage.AppSettingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.MyPage.PWChangeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.MyPage.SignOutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.MyPage.ModifyMemberInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.MyPage.MyPageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.SendCheck.SendCheckActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Main.MainClinicalHumanActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Main.MainClinicalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.AnalysisResult.AnimalHospitalAnalysisResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.CustomerInfo.AnimalHospitalCustomerInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.CustomerInfo.AnimalClinicalInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.CustomerInfo.HumanClinicalInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.AnalysisResult.BeautyShopAnalysisResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.CustomerInfo.BeautyShopCustomerInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.AnalysisResult.HospitalAnalysisResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".common.popup.CommonListPopup"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".UI.CustomerInfo.HospitalCustomerInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Measure.SkinMeasureResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Measure.SkinMeasureActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Main.MainClinicalAnimalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Main.MainBeautyShopActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Main.MainAnimalHospitalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Main.MainHospitalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Main.ConnectStateActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Member.Join.JoinCompleteActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Member.Join.JoinActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Member.Join.TermDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Member.Join.TermsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Member.FindPWActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Member.FindIDActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Member.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".common.popup.CommonTextPopup"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
    </application>

</manifest>